-#%p#notice= notice
%h1 Listing Recommendations
%table.table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @recommendations.each do |recommendation|
      %tr
        %td= recommendation.media1.title
        %td= recommendation.media2.title
        %td= link_to 'Show', recommendation
        - if current_user and (current_user.admin? or current_user == recommendation.created_by)
          %td= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Recommendation', new_recommendation_path