%table.table
  %thead
    %tr
    %th Media
    %th Media
    %th Created by
  %tbody
    %tr
      %td= link_to @recommendation.media1.title, medium_path(@recommendation.media1)
      %td= link_to @recommendation.media2.title, medium_path(@recommendation.media2)
      %td= link_to @recommendation.created_by.name, user_path(@recommendation.created_by)
      //- if current_user and (current_user.admin? or current_user == @recommendation.created_by)
      %td= link_to 'Delete', @recommendation, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Back', recommendations_path