%table.table
  %thead
    %tr
    %th Item
    %th Item
    %th Created by
  %tbody
    %tr
      %td= link_to @recommendation.item1.title, item_path(@recommendation.item1)
      %td= link_to @recommendation.item2.title, item_path(@recommendation.item2)
      %td= link_to @recommendation.created_by.name, user_path(@recommendation.created_by)
      - if current_user and (current_user.admin? or current_user == @recommendation.created_by)
        %td= link_to 'Delete', @recommendation, method: :delete, data: { confirm: 'Are you sure?' }

%ul
  %li= "#{pluralize(@like_count, 'person')} liked"
  %li= "#{pluralize(@dislike_count, 'person')} disliked"

- if(logged_in?)
  = button_to("Like", recommendation_avaliations_path(@recommendation, :rating => true),  method: :post)
  = button_to("Dislike", recommendation_avaliations_path(@recommendation, :rating => false),  method: :post)

= link_to "New Commentary", new_recommendation_commentary_path(@recommendation)
- if !@recommendation.commentaries.empty?
  %h3 User's commentaries:
  .row
    - @recommendation.commentaries.last_commentaries.each do |commentary|
      .panel.panel-default
        .panel-heading
          = link_to commentary.user.name, user_path(commentary.user)
          %span.text-muted commented #{time_ago_in_words(commentary.created_at)} ago
        .panel-body
          - commentary.comment.split("\n").each do |line|
            = line
            %br