%h1 #{@user.name} profile

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

- if current_user?(@user)
  = link_to 'Edit your profile', edit_user_path(current_user)

- if current_user.admin?
  = link_to 'Delete', user_path(@user), :method => :delete, data: {confirm: "You sure?"}

- if !@user.recommendations.empty?
  %h3 Recommendations:
  .list-group
    - @user.recommendations.each do |recommendation|
      = link_to recommendation.item1.title + " - " + recommendation.item2.title, recommendation_path(recommendation), :class => 'list-group-item'

- if !@user.avaliations.empty?
  %h3 Avaliations:
  .list-group
    - @user.avaliations.each do |avaliation|
      = link_to avaliation.rateable.title + " - " + avaliation.aval_str, item_path(avaliation.rateable), :class => 'list-group-item'

- if !@user.commentaries.empty?
  %h3 Commentaries
  .row
    - @user.commentaries.each do |commentary|
      .panel.panel-default
        .panel-heading
          %span.text-muted #{commentary.user.name} commented about
          = link_to(commentary.commentable.title, item_path(commentary.commentable))
          %span.text-muted #{time_ago_in_words(commentary.created_at)} ago
        .panel-body
          - commentary.comment.split("\n").each do |line|
            = line
            %br