%h1 #{@user.name} profile

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

- if current_user?(@user)
  = link_to 'Edit your profile', edit_user_path(current_user)

- if current_user.admin?
  = link_to 'Delete', user_path(@user), :method => :delete, data: {confirm: "You sure?"}

- if !@user.recommendations.empty?
  %h3 Recommendations:
  .list-group
    - @user.recommendations.last_recommendations.each do |recommendation|
      .list-group-item
        %span.text-muted Created
        %strong
          = link_to(recommendation.title, recommendation_path(recommendation))
        %span.text-muted #{time_ago_in_words(recommendation.created_at)} ago

- if !@user.avaliations.empty?
  %h3 Avaliations:
  .list-group
    - @user.avaliations.last_avaliations.each do |avaliation|
      %div{:class => "list-group-item #{avaliation.rating ? 'list-group-item-like' : 'list-group-item-dislike'}"}
        %span.text-muted #{avaliation.rating2string}
        %strong
          = link_to(avaliation.rateable.title, item_path(avaliation.rateable))
        %span.text-muted #{time_ago_in_words(avaliation.updated_at)} ago
- if !@user.commentaries.empty?
  %h3 Commentaries
  - @user.commentaries.last_commentaries.each do |commentary|
    .panel.panel-default
      .panel-heading
        %span.text-muted #{commentary.user.name} commented about          
        = link_to(commentary.commentable.title, item_path(commentary.commentable))
        %span.text-muted #{time_ago_in_words(commentary.created_at)} ago
      .panel-body
        - commentary.comment.split("\n").each do |line|
          = line
          %br