%li.list-group-item
  .row
    .col-sm-4
      = link_to(recommendation.title, recommendation_path(recommendation))
    .col-sm-3
      .progress{:class => "progress_recommendation_#{recommendation.id}", :style => "margin-bottom: 0px;"}
        %div{:class => "progress-bar progress-bar-success", :role => "progressbar", :style => "width:#{recommendation.like_ratio}%"}
          = recommendation.like_count
        %div{:class => "progress-bar progress-bar-danger", :role => "progressbar", :style => "width:#{100 - recommendation.like_ratio}%"}
          = recommendation.dislike_count
    - if logged_in?
      .col-sm-3    
        = link_to recommendation_avaliations_path(recommendation, :rating => true),  method: :post, :id => "recommendation_#{recommendation.id}", :class => 'btn btn-xs btn-success btn-whitelink', :remote => true do
          %span(class="glyphicon glyphicon-thumbs-up")
          Like
        = link_to recommendation_avaliations_path(recommendation, :rating => false),  method: :post, :id => "recommendation_#{recommendation.id}", :class => 'btn btn-xs btn-danger btn-whitelink', :remote => true do
          %span(class="glyphicon glyphicon-thumbs-down")
          Dislike