%h1 List of all 

= form_tag :method => 'get' do 
  = label :user, :name, 'Filter'
  = text_field_tag :search, params[:search], :class => 'input-sm form-control'

  = submit_tag 'Find', :style => "margin-bottom: 15px;", :class => 'btn btn-primary btn-whitelink'

%ul.list-group
  %li.list-group-item.disabled
    .row
      .col-sm-2 Title
      .col-sm-2 Release Date
      .col-sm-3 Avaliations
  - @item.each do |i|
    = render :partial => 'shared/item_line', locals: {item: i}
= link_to new_item_path, :class => "btn btn-primary btn-whitelink" do
  %span(class="glyphicon glyphicon-plus")
  New Item
            
