%h2 Create New Item

= form_tag items_path, :method => :post do

  = label :item, :title, 'Title'
  = text_field :item, :title, :class => 'form-control'
 
  = label :item, :release_date, 'Released On'
  = date_select :item, :release_date, :start_year => 1930, :end_year => Time.now.year, :discard_day => true, :discard_month => true

  = submit_tag 'Add Item', :class => 'btn btn-primary'
