%h2= "#{@item.title} (#{@item.release_date.year})"

= link_to "#{pluralize(@like_count, 'person')} liked", item_avaliations_path(@item, :rating => true),  method: :post, :class => 'btn btn-success'
= link_to "#{pluralize(@dislike_count, 'person')} disliked", item_avaliations_path(@item, :rating => false),  method: :post, :class => 'btn btn-danger'

- if !@item.recommendations1.empty? or !@item.recommendations2.empty?
  %h3 Users who liked this also recommend:
  .list-group
    - @item.recommendations1.each do |recommendation|
      = link_to recommendation.item2.title, recommendation_path(recommendation), :class => 'list-group-item'
    - @item.recommendations2.each do |recommendation|
      = link_to recommendation.item1.title, recommendation_path(recommendation), :class => 'list-group-item'
= link_to "New Commentary", new_item_commentary_path(@item), :class => 'btn btn-primary btn-whitelink'
= render :partial => 'shared/commentary_list', locals: {commentable: @item}
            

