<p id="notice"><%= notice %></p>

<h1>Listing Media Avaliations</h1>

<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>User</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_avaliations.each do |media_avaliation| %>
      <tr>
        <td><%= media_avaliation.media %></td>
        <td><%= media_avaliation.user %></td>
        <td><%= media_avaliation.rating %></td>
        <td><%= link_to 'Show', media_avaliation %></td>
        <td><%= link_to 'Edit', edit_media_avaliation_path(media_avaliation) %></td>
        <td><%= link_to 'Destroy', media_avaliation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media avaliation', new_media_avaliation_path %>
