%p{id="notice"}= notice

%p
	%strong Media:
	= @media_avaliation.media

%p
	%strong User:
	= @media_avaliation.user

%p
	%strong Rating:
	= @media_avaliation.rating

= link_to 'Edit', edit_media_avaliation_path(@media_avaliation)
= link_to 'Back', media_avaliations_path
