%h2= @media.title

%ul
  %li= "Lançamento: #{@media.release_date}"
  %li= "#{pluralize(@like_count, 'person')} liked"
  %li= "#{pluralize(@dislike_count, 'person')} disliked"

- if(logged_in?)
  = button_to("Like", medium_avaliations_path(@media, :rating => true),  method: :post)
  = button_to("Dislike", medium_avaliations_path(@media, :rating => false),  method: :post)
 


- if !@media.recommendations1.empty? or !@media.recommendations2.empty?
  %h3 Users who liked this also recommend:
  .list-group
    - @media.recommendations1.each do |recommendation|
      = link_to recommendation.media2.title, recommendation_path(recommendation), :class => 'list-group-item'
    - @media.recommendations2.each do |recommendation|
      = link_to recommendation.media1.title, recommendation_path(recommendation), :class => 'list-group-item'

%br
%br
= link_to("Voltar", "/media/list_all")
