!!! 5
%html
  %head
    %title JellyRating!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header
      %nav.navbar.navbar-fixed-top.navbar-default
        .container-fluid
          .navbar-header
            = link_to "JellyRating", root_path, :class => "navbar-brand"
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Home', root_path
            %li= link_to 'Items', '/items/list_all'            
            %li= link_to 'Recommendations', recommendations_path
            - if logged_in?
              %li
                = link_to users_path do
                  %span(class="glyphicon glyphicon-group")
                  Members
              %li
                = link_to new_item_path do
                  Add Item
              %li
                = link_to new_recommendation_path do
                  Add Recommendation
              %li.dropdown
                %a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown"}
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to  user_path(current_user) do
                      %span(class="glyphicon glyphicon-user")
                      Profile
                  %li.divider
                  %li
                    = link_to logout_path, method: "delete" do
                      %span(class="glyphicon glyphicon-log-out")
                      Log Out
            - else
              %li
                = link_to login_path do
                  %span(class="glyphicon glyphicon-log-in")
                  Log In
              %li
                =link_to signup_path do
                  %span(class="glyphicon glyphicon-arrow-up")
                  Sign Up
    .container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.has_error.message
          %ul.warning
            - flash[:warning].each do |msg|
              %li= msg
          
      = yield
    %footer.footer
      %small
        JellyRating

